.hljs-copy-button {
  color: white;
  background-color: var(--hljs-theme-background);
  transition: all 200ms ease;
  width: 50px;
  cursor: pointer;
  border: none;
}

.hljs-copy-button:hover {
  color: #94c0e5;
  text-decoration: underline;
}

.hljs-copy-alert {
  white-space: nowrap;
  color: white;
}

.cch-container {
    margin: 10px 0;
}
.cch-container .cch-header {
    display:flex;
    justify-content: space-between;
    border-radius: .2rem .2rem 0 0;
    width: 100%;
    background-color: #0D1117;
    box-sizing: border-box;
    padding: 3px 5px;
    border-bottom: 1px solid #eaeaea;
    font-family: monospace;
    min-height: 30px;
    align-items: center;
}


.cch-container .filename {
    color: white;
}

.cch-container pre {
    border-radius: 0 0 .2rem .2rem;
    margin: 0;
}

.cch-container pre * {
    font-size: 13px;
}
