.dcf-field {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #F0F0F1;
}

#dcf-fields-container {
    display: grid;
    gap: 5px;
    margin-bottom: 10px;
}

.dcf-item {
    flex: 1 0 300px; /* Each item takes up at least 300px width */
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
}

.dcf-item h3 {
    margin-top: 0;
}
